.popup__infoTooltip_caption {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;

}

@media screen and (max-width: 570px) {
    .popup__infoTooltip_caption {
        font-size: 20px;
        line-height: 24px;
    }
}


