.popup__close-icon {
    width: 32px;
    height: 32px;
    background-image: url(../../../images/Close-Icon.svg);
    background-color: transparent;
    border: none;
    position: absolute;
    right: -40px;
    top: -40px;
    box-sizing: border-box;
    cursor: pointer;
    background-repeat: no-repeat;
}

.popup__close-icon:hover {
    opacity: .6;
    transition: opacity .3s ease;
}

@media screen and (max-width: 570px) {
    .popup__close-icon {
        background-image: url(../../../images/close-icon-mobile.svg);
        right: 0;
        width: 20px;
        height: 20px;
    }
}
