.formAuth__input {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 7px;
    border: none;
    border-bottom: 2px solid #CCCCCC;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CCCCCC;
    background-color: black;
    
}