.popup__container {
    box-sizing: border-box;
    width: 430px;
    margin: 0;
    padding: 34px 36px 37px;
    background-color: #FFFFFF;
    box-shadow: 0 0 25px rgba(0, 0, 0, .15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    border: none;
}

@media screen and (max-width: 570px) {
    .popup__container {
        width: 282px;
        padding: 25px 22px 25px;
    }
}
